.btn {
    padding: 10px 13px;
    border-radius: 4px;
    background-color: $brand-color;
    color: white;
    transition: background-color 150ms, opacity 150ms;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
        background-color: darken($brand-color, 5%);
    }

    &.btn-gray {
        background-color: #424242;

        &:hover {
            background-color: darken(#424242, 5%);
        }
    }
}

.dynamic-btn {
    position: relative;

    .dynamic-text,
    .default {
        transition: opacity 250ms;
    }

    .dynamic-text {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-delay: 50ms;
    }

    &.is-saved {
        .dynamic-text { transition-delay: 0; }
        .dynamic-text.is-saved { opacity: 1; }
        .default { opacity: 0; }
    }
}
