.options-form {

    .input-controls {
        font-size: 0;

        .btn {
            font-size: 14px;
            width: 47%;

            + .btn {
                margin-left: 6%;
            }
        }
    }

    .input-title {
        margin-bottom: 10px;
    }

    .input-group {
        margin-top: 25px;

        &:first-child {
            margin-top: 0;
        }
    }
}
