@mixin before-icon($imagePath, $width: 18px, $height: 18px, $marginRight: 7px) {

    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background: url($imagePath);
        width: $width;
        height: $height;
        margin-right: $marginRight;

        @content;
    }
}
