/*
 * Here you can set up variables or functions that are needed for the project.
 * Some variables are already defined in core-scss/_default-config.scss.
 * You may override them here if you need to customize them.
 */

$color-error: #b6391c;
$font-body: 'Roboto';
$font-heading: 'Roboto';
$global-site-maxwidth: 550px;
$brand-color: #2ba4f6;
$body-font-size: 18px;
