$input-height: 60px;
$input-padding: 20px;
$input-border-color: rgba(208, 204, 198, 0.2);
$input-border-color-hover: rgba(208, 204, 198, 0.3);
$input-border-radius: 3px;
$label-hover-speed: 400ms;

.input-field-text {
    @include body-font;
    height: $input-height;
    line-height: $input-height;
    display: block;
    position: relative;

    &.has-error .error-msg {
        display: inline-block;
    }

    .error-msg {
        text-transform: lowercase;
        font-size: 0.8em;
        display: none;

        &::before {
            content: '(';
        }

        &::after {
            content: ')';
        }
    }

    input:focus,
    input.has-text,
    textarea:focus,
    textarea.has-text {
        padding-top: 13px;

        ~ .label-mid {
            color: darken($color-fg, 15%);
            transform: translateY(-15px);
            font-size: 14px;
        }
    }

    input,
    select,
    textarea {
        border: 1px solid $input-border-color;
        transition: border-color 150ms;
        width: 100%;

        &:hover,
        &:focus {
            border-color: $input-border-color-hover;
        }
    }

    input,
    select {
        padding: 0 $input-padding;
        height: $input-height;
        border-radius: $input-border-radius;
    }

    &.has-error {

        input {
            border-color: $color-error;
        }

        .label.label-mid {
            color: $color-error;
        }
    }

    .label {
        line-height: normal;
        position: absolute;
        left: $input-padding;
        transition: opacity $label-hover-speed, transform $label-hover-speed, visibility $label-hover-speed, color $label-hover-speed, font-size $label-hover-speed;
        cursor: text;
        user-select: none;
    }

    .label-mid {
        top: 20px;
        transform: translateY(0);
    }
}
