/* stylelint-disable */

@font-face {
    font-family: 'Open Sans';
    src: url('app/fonts/open-sans/OpenSans-Light-webfont.eot');
    src: url('app/fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('app/fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
         url('app/fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('app/fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('app/fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('app/fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('app/fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('app/fonts/open-sans/OpenSans-Semibold-webfont.eot');
    src: url('app/fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('app/fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('app/fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
